# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Editor/IDE files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
